body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8cece;
  }


/* Add a red background color to the top navigation */
.topnav {
    overflow: hidden;
    padding-left: 32vw;
    background-color: #db4c4c;
}
      

/* Style the links in the nav bar */
.topnav a {
    margin-left: 2vw;
    float:left;
    color: #ffffff;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
}


/* Changes the color of links when hovering */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Edit the "Chuck's Picante" text on left side of screen*/
.Chucks{
    margin-top: 2vh;
    padding-left: 1vw;
    font-family: Didot;
    height: 10;
    position: absolute;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 47vw;
    font-size:80px;
    color: #db4c4c;
}

/* Changes the right side of screen where flip cards are located*/
.rightSide{
    width:49vw;
    position: absolute;
    margin-left: 50vw;
    margin-top: 2vh;
    margin-right: 1vw;
    height: 90vh;
}

/* Changes the tiny text under the title with group members names*/
.copyright{
    text-align: center;
    font-size: smaller;
    margin-left: 12vw;
    position: absolute;
    margin-top: 70vh;
}

/* Changes general flip card */
.flip-card {
    float:left;
    position: relative;
    background-color: transparent;
    width: 325px;
    height: 325px;
    perspective: 1000px;
    margin-top: 2vh;
    margin-left: 1vw;
  }
  
/* Changes flip card inner portion*/
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  /* Changes what the hovering and rotating features for flip card */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Changes the front/back of flip card to hide either side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* Changes format of front of the flip card */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Changes the format of the back of the flip card when flipped */
  .flip-card-back {
    background-color: #db4c4c;
    color:#ffffff;
    text-align: center;
    font-family: Didot;
    transform: rotateY(180deg);
  }

      

